.advantages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7vw;
    margin-bottom: 100px;

    @include tablet {
        margin-bottom: 20px;
    }

    @include mobile {
        margin-bottom: 10px;
    }

    &__title {
        @include fluid-text(40, 20);
        font-weight: 700;
        margin-bottom: 48px;

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        @include fluid-text(26, 18);
        font-weight: 700;
        margin-bottom: 35px;

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__menu {
        &-list {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 0;
            padding-left: 0;
        }

        &-item {
            @include fluid-text(26, 15);
            margin-bottom: 1vw;

            &::before {
                content: "";
                display: block;
                width: 50%;
                height: 50%;
                background-image: url('../images/icons/done.svg');
                background-repeat: no-repeat;
                position: absolute;
            }
        }

        &-info {
            margin-left: 7vw;

            @media (min-width: 700px) {
                margin-left: 5vw;
            }
        }
    }


    &__image {
        width: 50%;
    }

    &__description {
        flex: 1;
    }

    &__desc {
        @include fluid-text(26, 15);
    }

    &__sections {
        display: flex;
        gap: 3vw;

        @include tablet {
            flex-direction: column;
        }
    }

    &__section {
        flex: 1;
        background-color: $background-yellow;
        padding: 48px;
        border-radius: 20px;

        @include tablet {
            padding: 20px;
        }

        @include mobile {
            padding: 8px;
        }

        &-title {
            @include fluid-text(26, 18);
            font-weight: 700;
            margin-bottom: 32px;

            @include tablet {
                margin-bottom: 10px;
            }

            @include mobile {
                margin-bottom: 0;
            }
        }

        &-desc {
            @include fluid-text(26, 15);
        }
    }
}