.hero {
    display: flex;
    gap: 2vw;
    padding-bottom: 50px;

    @include tablet {
        padding-bottom: 20px;
    }

    @include mobile {
        padding-bottom: 10px;
    }

    &__title {
        @include fluid-text(40, 20);
        font-weight: 700;

        @include tablet {
            margin-top: 20px;
        }

        @include mobile {
            margin-top: 10px;
        }
    }

    &__description {
        flex: 1;
    }

    &__image {
        width: 50%;
    }

    &__desc {
        @include fluid-text(26, 15);
    }
}