.telephone {
    &__information {
        @include fluid-text(50, 20);
        font-weight: 700;
        color: $color-white;
        content: "";
        display: block;
        text-align: center;
        padding: 2vw 0;
        width: 100%;
        background-image: url(../images/pictures/bg.svg);
        background-size: 150%;
        background-position: center center;

        @include mobile {
            display: none;
        }

        &-link {
            color: $color-blue;
            text-decoration: underline;
        }
    }
}