$color-dark: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-blue: rgb(2, 151, 212);
$color-description: rgb(119, 119, 119);
$color-grey: rgb(74, 88, 94);

$background-light: rgb(243, 246, 249);
$background-blue: rgb(242, 244, 248);
$background-yellow: rgb(255, 245, 204);
$background-grey: rgb(88, 108, 117);

$border-radius: 50px;
$border-padding: 16px 20px;

$font-family-base: 'SFPro', sans-serif;

$container-width: 1400px;
$container-padding-x: 11vw;

$section-padding-y: 100px;

$transition-duration: 0.2s;